.button {
    -fx-background-color: orange;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
}

#bottom_pane{
    -fx-background-color:orange;
}

.anchorPane{
    -fx-background-color: rgb(34,193,195);
    -fx-background-color: linear-gradient( rgba(34,193,195,1) 0%, rgb(253, 187, 45) 100%);
}

.title{
    -fx-font-size: 24;
    -fx-text-fill: white;
}

.subtitle{
    -fx-font-size: 18;
    -fx-text-fill: white;
}
